*::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
*:-moz-placeholder {
	color: #000;
	opacity: 1;
}
*::-moz-placeholder {
	color: #000;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Open Sans';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	color: #000;
	background-color: #fff;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.logo {
	font-size: 25px;
	font-weight: 700;
	color: #000000;
	display: inline-flex;
	align-items: center;
}
.logo img {
	margin-right: 20px;
}
.language-block {
	position: relative;
}
.language-block img {
	max-width: 30px;
	margin-right: 18px;
	height: auto;
}
.language-block i {
	font-size: 9px;
	margin-left: 18px;
}
.language-block__value {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.language-block__dropdown {
	position: absolute;
	top: 100%;
	min-width: 120px;
	left: 0;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	padding-top: 0;
	margin-left: -10px;
	box-shadow: 0px 13px 30px 0px rgb(0 0 0 / 2%);
	border-radius: 8px;
	display: none;
}
.language-block__dropdown a {
	color: #000;
	display: flex;
	margin-top: 10px;
	align-items: center;
}
.header__left {
	display: flex;
	align-items: center;
}
.header__left .language-block {
	margin-left: 80px;
}
.header__top {
	padding-top: 23px;
	padding-bottom: 23px;
}
.links-header {
	display: flex;
	align-items: center;
}
.links-header a {
	font-weight: 700;
	color: #5a91dc;
	transition: all 0.3s;
}
.links-header a:hover {
	color: #397ad2;
}
.links-header span {
	padding: 0 4px;
}
.header__right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.social-list {
	font-size: 19px;
	display: flex;
	align-items: center;
}
.social-list a {
	color: #5a91dc;
	transition: all 0.3s;
}
.social-list a:hover {
		color: #397ad2;
}
.social-list li {
	margin-right: 20px;
}
.header__right .social-list {
	margin-right: 50px;
}
.nav__wrap {
	display: flex;
}
.menu {
	margin-left: -15px;
	padding-right: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a:hover {
	background-color: #72a2e3;
}
.nav {
	font-weight: 700;
	background-color: #5a91dc;
}
.nav a {
	padding: 19px 15px;
	color: #fff;
	transition: all 0.3s;
	display: inline-block;
}
.nav .btn-nav {
	padding-left: 33px;
	padding-right: 33px;
	background-color: #397ad2;
}
.nav .btn-nav:hover {
	background-color: #306ab8;
}
.billbord {
	padding-top: 55px;
	min-height: 408px;
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 30px;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f1f3f4;
	background-size: cover;
}
.title-big {
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
}
.btn-main {
	font-size: 16px;
	height: 50px;
	padding: 0 68px;
	background-color: #5a91dc;
	border-radius: 8px;
	font-weight: 700;
	color: #ffffff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'Open Sans';
	border: none;
	transition: all 0.3s;
	cursor: pointer;
}
.btn-main:hover {
	background-color: #397ad2;
}
.billbord .title-big {
	padding-bottom: 15px;
}
.billbord .btn-main {
	margin-top: 35px;
}
.billbord p {
	max-width: 430px;
}
.search-form {
	padding: 25px 20px;
	margin-top: -50px;
	padding-bottom: 0;
	background-color: #ffffff;
	box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.02);
	border-radius: 8px;
}
.item-form {
	margin-bottom: 25px;
}
.item-form textarea,
.jq-selectbox__select-text,
.item-form input {
	width: 100%;
	height: 50px;
	padding: 0 30px;
	font-size: 16px;
	color: #000000;
	font-family: 'Open Sans';
	background-color: #ffffff;
	border: 1px solid rgba(230,230,230,0.8);
	border-radius: 8px;
}
.item-form textarea {
	height: 150px;
	padding-top: 15px;
	resize: none;
}
.jqselect {
	width: 100%;
}
.jq-selectbox__select-text {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.jq-selectbox__dropdown {
	width: 100%;
	box-shadow: 0px 13px 30px 0px rgb(0 0 0 / 2%);
	border-radius: 8px;
	background-color: #fff;
}
.jq-selectbox__dropdown li {
	padding: 5px 30px;
	cursor: pointer;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 11px;
}
.jq-selectbox__trigger:before {
	content: "\f078";
}
.search-form .btn-main {
	padding: 0;
	width: 100%;
}
.title-section {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
}
.featured {
	padding-top: 55px;
	padding-bottom: 60px;
}
.item-feature {
	padding-bottom: 19px;
	background-color: #ffffff;
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
	display: block;
	transition: all 0.3s;
}
.item-feature:hover {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.07);	
}
.item-feature__image {
	height: 200px;
	margin-bottom: 15px;
	background-color: #d0d0d0;
	border-radius: 8px 8px 0px 0px;
	display: block;
	position: relative;
}
.item-feature__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 8px 8px 0px 0px;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-feature__name {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 3px;
	padding: 0 18px;
	color: #5a91dc;
	display: block;
}
.item-feature__price {
	font-size: 20px;
	font-weight: 700;
	display: block;
	padding: 0 18px;
	color: #393939;
}
.slider-feature .item-feature {
	margin: 0 15px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	min-height: 100%;
}
.slider-feature {
	padding-top: 20px;
	margin: 0 -15px;
}
.slider-feature .slick-track {
	display: flex !important;
}
.slider-feature .slick-slide {
	padding-bottom: 20px;
	padding-top: 8px;
	height: inherit !important;
}
.slick-arrow {
	font-size: 29px;
	top: -35px;
	right: 15px;
	left: auto;
	width: initial;
	height: initial;
	bottom: auto;
	transform: none;
	color: #5a91dc !important;
	transition: all 0.3s;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	right:60px;
}
.bottom-button {
	padding-top: 20px;
	text-align: center;
}
.item-catalog__name {
	font-size: 18px;
	line-height: 26px;
	padding-right: 70px;
	font-weight: 700;
	color: #5a91dc;
	display: block;
}
.item-catalog__price {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 700;
	display: block;
	color: #393939;
}
.item-catalog {
	margin-top: 30px;
	background-color: #ffffff;
	box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
	display: flex;
	transition: all 0.3s;
	line-height: 28px;
	color: #000000;
}
.item-catalog:hover {
	box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.07);
}
.item-catalog__image {
	width: 285px;
	min-height: 210px;
	flex: none;
	border-radius: 8px 0px 0px 8px;
	display: block;
}
.item-catalog__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 8px 0px 0px 8px;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog__properties {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-catalog__property {
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.item-catalog__property img {
	margin-right: 15px;
}
.item-catalog__content {
	flex: 1;
	padding: 15px 30px;
	padding-top: 20px;
	position: relative;
	display: block;
}
.item-catalog__text {
	margin-top: 10px;
	display: block;
}
.item-catalog_featured {
	background-color: #e7fcff;
}
.item-catalog__status {
	font-size: 14px;
	line-height: 15px;
	background-color: #cc0000;
	border-radius: 4px;
	font-weight: 700;
	color: #ffffff;
	top: 13px;
	right: 13px;
	padding: 8px 7px;
	display: inline-block;
	position: absolute;
}
.item-feature_sidebar .item-feature__image {
	height: 120px;
}
.item-feature_sidebar {
	margin-top: 20px;
}
.item-feature_sidebar .item-feature__name {
	font-size: 16px;
	line-height: 24px;
}
.item-feature_sidebar .item-feature__price {
	font-size: 18px;
}
.item-feature_satus {
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
	padding: 7px 23px;
	background-color: #cc0000;
	border-radius: 4px;
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.item-feature:first-child {
	margin-top: 30px;
}
.catalog {
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: #f5f9fa;
}
.articles-wrap {
	padding: 20px;
	padding-top: 7px;
	margin-top: 35px;
	background-color: #ffffff;
	box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
}
.item-article {
	display: block;
	padding-top: 9px;
	padding-bottom: 10px;
	color: #393939;
	line-height: 24px;
	border-bottom: 1px dotted #b4b4b4;
}
.item-article__name {
	font-weight: 600;
	margin-bottom: 3px;
	color: #5a91dc;
	display: block;
	transition: all 0.3s;
}
.item-article:hover .item-article__name {
color: #397ad2;
}
.item-article__views {
	display: block;
}
.item-article:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.sidebar-wrap {
	margin-bottom: 55px;
}
.catalog__button .btn-main {
	width: 100%;
	padding: 0;
	margin-top: 40px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 14px;
	color: #c3c3c3;
	transition: all 0.3s;
	margin-right: 5px;
}
.rating_1 > *:nth-child(1) .rating__item {
	color: #ffb350;
}
.rating_2 > *:nth-child(-n+2) .rating__item {
	color: #ffb350;
}
.rating_3 > *:nth-child(-n+3) .rating__item {
	color: #ffb350;
}
.rating_4 > *:nth-child(-n+4) .rating__item {
	color: #ffb350;
}
.rating_5 > *:nth-child(-n+5) .rating__item {
	color: #ffb350;
}
.item-review {
	padding: 30px 20px;
	min-height: 100%;
	margin: 0 15px;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
	line-height: 28px;
	transition: all 0.3s;
}
.item-review:hover {
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.07);	
}
.title-small {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	color: #5a91dc;
}
.item-review .title-small {
	padding: 7px 0;
}
.slider-reviews .slick-track {
	display: flex !important;
}
.slider-reviews .slick-slide {
	padding-bottom: 20px;
	padding-top: 8px;
	height: inherit !important;
}
.slider-reviews {
	padding-top: 20px;
	margin: 0 -15px;
}
.reviews {
	padding-top: 50px;
	padding-bottom: 55px;
}
.steps {
	padding-top: 55px;
	padding-bottom: 55px;
	background-color: #f5f9fa;
}
.item-step {
	margin-top: 50px;
	line-height: 28px;
	text-align: center;
}
.item-step__icon {
	height: 69px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-step__icon img {
	max-width: 100%;
	max-height: 100%;
}
.steps__text a,
.item-step a {
	font-weight: 700;
	color: #5a91dc;
}
.steps__text {
	padding-top: 48px;
	line-height: 30px;
	text-align: center;
}
.descr-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
}
.descr-title {
	padding-top: 15px;
	padding-bottom: 15px;
}
.calculator {
	padding-top: 55px;
}
.calculator p {
	line-height: 30px;
	margin-bottom: 20px;
}
.link-more {
	font-weight: 700;
	color: #5a91dc;
	display: flex;
	align-items: center;
	position: relative;
}
.link-more::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: #5a91dc;
}
.link-more i {
	margin: 0 14px;
	font-size: 10px;
	transition: all 0.3s;
}
.link-more.active i {
	transform: rotate(180deg);
}
.link-more span {
	display: inline-flex;
	align-items: center;
	position: relative;
	z-index: 2;
	background-color: #fff;
}
.text-more {
	display: none;
}
.title-section_calculator {
	padding-top: 50px;
}
.block-calculator {
	padding: 40px 30px;
	background-color: #ffffff;
	margin-top: 38px;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
}
select {
	opacity: 0;
}
.block-calculator .col-md-9 {
	padding-left: 0;
}
.item-form label {
	font-weight: 600;
	display: block;
}
.item-form .row {
	align-items: center;
}
.block-calculator .item-form {
	margin-bottom: 30px;
}
.irs-grid-pol.small {
	display: none !important;
}
.irs--flat .irs-bar,
.irs--flat .irs-line {
	height: 6px;
}
.irs--flat .irs-line  {
	background-color: #f5f9fa;
}
.irs--flat .irs-bar {
	background-color: #5a91dc;
}
.irs--flat .irs-grid-text {
	font-size: 15px;
	bottom: 6px;
	color: #000000;
}
.irs--flat .irs-grid-pol {
	width: 2px;
	height: 14px;
	top: -19px;
	background-color: #5a91dc;
	pointer-events: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	display: none;
}
.irs--flat .irs-handle>i:first-child {
	opacity: 0 !important;
}
.block-calculator__buttons {
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block-calculator__buttons a {
	color: #5a91dc;
}
.block-calculator__buttons .btn-main {
	padding: 0 25px;
	margin-left: 30px;
}
.sidebar-categories {
	padding: 17px 20px;
	margin-top: 30px;
	line-height: 24px;
	background-color: #ffffff;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.03);
	color: #393939;
	border-radius: 8px;
}
.sidebar-categories__title {
	font-weight: 600;
	margin-bottom: 8px;
	color: #5a91dc;
	display: block;
}
.sidebar-categories a {
	color: #393939;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.sidebar-categories a:hover {
	border-color: #393939;
}
.sidebar-categories li {
	margin-bottom: 10px;
}
.sidebar-categories__item {
	padding: 10px 0;
	border-bottom: 1px dotted #b4b4b4;
}
.sidebar-categories__item:last-child {
	border: none;
}
.table-wrap {
	padding: 20px 30px;
	background-color: #ffffff;
	box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
}
.table-wrap table {
	width: 100%;
}
.table-wrap td {
	padding: 20px 0;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
.table-wrap thead {
	font-weight: 600;
}
.table-wrap td strong {
	font-size: 20px;
	color: #393939;
}
.table-wrap thead td {
	padding-top: 0;
}
.table-wrap img {
	max-width: 123px;
	border-radius: 8px;
}
.table-wrap tbody td:first-child {
	width: 160px;
	border-right: none;
}
.table-wrap td:last-child {
	border-right: none;
}
.table-wrap td:nth-last-child(2),
.table-wrap td:last-child  {
	text-align: center;
}
.table-wrap tbody td:nth-child(2) {
	width: 415px;
	padding-right: 50px;
}
.table-wrap tbody tr:last-child td {
	border-bottom: none;
}
.prices {
	padding-top: 50px;
	padding-bottom: 60px;
}
.prices .title-section {
	padding-bottom: 30px;
}
.guide {
	padding-top: 55px;
	padding-bottom: 60px;
	background-color: #f5f9fa;
}
.guide-block {
	padding: 30px;
	padding-top: 25px;
	min-height: 100%;
	background-color: #ffffff;
	box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.03);
	border-radius: 8px;
	line-height: 30px;
}
.row_guide > div {
	margin-top: 32px;
}
.guide-block__title {
	font-size: 18px;
	margin-bottom: 18px;
	font-weight: 600;
}
.guide-block .btn-main {
	margin-top: 23px;
	padding: 0 60px;
}
.footer__top {
	padding: 24px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__bottom {
	font-size: 15px;
	line-height: 26px;
	padding: 20px 0;
	color: #787878;
}
.footer__left {
	display: flex;
	align-items: center;
}
.footer__left .logo {
	margin-right: 20px;
}
.links-footer li {
	position: relative;
}
.links-footer li::after {
	margin: 0 21px;
	content: "|";
	position: relative;
	top: -2px;
}
.links-footer li:last-child::after {
	display: none;
}
.links-footer a {
	color: #000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.links-footer a:hover {
	border-color: #000;
}
.links-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer .social-list {
	margin-left: 80px;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #5a91dc;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #5a91dc;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #5a91dc;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
} 
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/

